h1, h2, h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

div#florian {
  border: 3px double black;
  background-color: #c3c2fc;
  width: 20rem;
  height: 100px;
  overflow: hidden;
}

#easy {
  float: left;
}

#easy, #hard {
  padding: 0.1rem;
}

input {
  position: relative;
  top: 1rem;
}

#easy input {
  left: 1rem;
  background-color: lightgreen;
}

#easy input:hover {
  color: white;
  background-color: rgb(14, 141, 14);
}

#hard input {
  left: 1rem;
  background-color: red;
}

#hard input:hover {
  background-color: rgb(150, 0, 0);
  color: white;
}

#question {
  width: 6.5rem;
  position: relative;
  left: 1rem;
  top: 2rem;
  border-bottom: 2px solid black;
}

#sum input {
  position: relative;
  top: -1px;
  width: 2.5rem;
}

#result {
  position: relative;
  top: 0.6rem;
  left: 8rem;
  font-weight: bold;
}